.faqContainer {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faqItem {
  margin-bottom: 20px;
}

.faqItem h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.faqItem p {
  font-size: 1rem;
}
